<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- jquery -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer -->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js -->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js -->
    <script type="text/javascript" th:src="@{/js/common.js}"></script>

	<style type="text/css">
		html,body{
			height:100%;
			width:100%;
		}
		body{
			background:url('/cshop/img/bg.jpg') no-repeat;
			background-size:100% 100%;
			padding-top:100px;
		}
	</style>

    </head>
<body>

<form name="loginForm" id="loginForm" method="post"   style="width:30%; margin:0 auto;">

	<h2 style="text-align:center; margin-bottom: 20px">用户登录</h2>
	
	<div class="form-group">
       	<div class="row">
	       	<label class="form-label col-md-4">工号</label>
	        <div class="col-md-8">
	        	<input id="userLoginId" name = "userLoginId" class="form-control" type="text" placeholder="工号" required="true"  />
	    	</div>
	    	<div class="col-md-1">
	    	</div>
    	</div>
    </div>
    
    <div class="form-group">
     		<div class="row">
		        <label class="form-label col-md-4">密码</label>
		        <div class="col-md-8">
		        	<input id="password" name="password" class="form-control" type="password"  placeholder="密码" required="true"  />
	       		</div>
      		</div>
	</div>
	
	<div class="row" style="margin-top:40px;">
		     	<div class="col-md-6">
	       	 		<button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>
	       	 	</div>
	       	 	<div class="col-md-6">
	       	 		<button class="btn btn-primary btn-block" type="submit" onclick="to_login()">登录</button>
	       	 	</div>
	 </div>
	 
</form>
</body>
<script>
function to_login(){
	$("#loginForm").validate({
        submitHandler:function(form){
             doLogin();
        }    
    });
}
function doLogin(){
	g_showLoading();
	
	var password = $("#password").val();
	$.ajax({
		url: "do_login",
	    type: "POST",
	    data:{
            userLoginId:$("#userLoginId").val(),
	    	password: password
	    },
	    success:function(data){
	    	layer.closeAll();
	    	if(data.code == 0){
	    		layer.msg("成功");
	    		window.location.href="/index";
	    	}else{
	    		layer.msg(data.msg);
	    	}
	    },
	    error:function(){
	    	layer.closeAll();
	    }
	});
}
</script>
</html>